<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="../public/stylesheets/build/main.css">
  </head>
  <body>
    HI WORLD!!! THIS WILL BE A WEATHER APP.
    <p>
      sky me
    </p>

    <!-- JQUERY LIBRARY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- ANGULAR LIBRARY -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="../public/javascripts/build/app.min.js"></script>
  </body>
</html>
